Repository petar1808/Farmer: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - WebUI

pr: none 

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet restore WebApi
  displayName: 'dotnet restore'

- script: dotnet build  WebApi --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet publish $(buildConfiguration)'
  inputs:
    command: publish
    publishWebProjects: false
    projects: 'WebApi'
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: 'publish artifacts'

azure-pipelines-fe.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - WebUI

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

stages:  
- stage: Demo  
  jobs:  
  - job: BuildAndRelease  
    steps:
    - task: AzureStaticWebApp@0
      inputs:
        app_location: 'WebUI'
        app_build_command: 'dotnet build WebUI'
        output_location: 'wwwroot'
        config_file_location: 'WebUI'
        build_timeout_in_minutes: 5
        azure_static_web_apps_api_token: "$(azure-static-web-app-token-demo)"
- stage: Production  
  jobs:  
  - job: BuildAndRelease  
    steps:
    - task: AzureStaticWebApp@0
      inputs:
        app_location: 'WebUI'
        app_build_command: 'dotnet build WebUI'
        output_location: 'wwwroot'
        config_file_location: 'WebUI'
        build_timeout_in_minutes: 5
        azure_static_web_apps_api_token: "$(azure-static-web-app-token-production)"

Edit staticwebapp config and azure pipelines yml (#16)
  WebUI/staticwebapp.config.json
  azure-pipelines-be.yml
  azure-pipelines-fe.yml
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update azure-pipelines-fe.yml for Azure Pipelines
  azure-pipelines-fe.yml
Due: azure-pipelines-be.yml

Update azure-pipelines-fe.yml for Azure Pipelines (#17)
  azure-pipelines-fe.yml
Due: azure-pipelines-be.yml

Update azure pipeline
  azure-pipelines-fe.yml
Due: azure-pipelines-be.yml

fix
  azure-pipelines-fe.yml
Due: azure-pipelines-be.yml

fix
  WebUI/staticwebapp.config.json
Due: azure-pipelines-fe.yml

Update readme
  README.md
Due: azure-pipelines-be.yml

update readme
  README.md
Due: azure-pipelines-be.yml

Update azure pipeline and readme (#18)
  README.md
  WebUI/staticwebapp.config.json
  azure-pipelines-fe.yml
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Fix UI bugs and add authorize role in controllers
  Application/Models/Тreatments/ListТreatmentModel.cs
  Application/Services/ArableLands/ArableLandService.cs
  Application/Services/Articles/ArticleService.cs
  Application/Services/PerformedWorks/PerformedWorkService.cs
  Application/Services/Seedings/SeedingService.cs
  Application/Services/Subsidies/SubsidyService.cs
  Application/Services/Tenants/TenantService.cs
  Application/Services/Treatments/ТreatmentService.cs
  Application/Services/WorikingSeasons/WorkingSeasonService.cs
  Infrastructure/Identity/IdentityService.cs
  WebApi/Controllers/ArableLandController.cs
  WebApi/Controllers/ArticleController.cs
  WebApi/Controllers/AssetsController.cs
  WebApi/Controllers/IdentityController .cs
  WebApi/Controllers/SeedingController.cs
  WebApi/Controllers/TenantController.cs
  WebApi/Controllers/WorkingSeasonController.cs
  WebApi/Program.cs
  WebApi/WebApi.csproj
  WebUI/Pages/ArableLands/DetailsArableLand.cs
  WebUI/Pages/ArableLands/ListArableLandPage.cs
  WebUI/Pages/Articles/DetailsArticle.cs
  WebUI/Pages/Articles/ListArticlePage.cs
  WebUI/Pages/Identity/ListUsers/CreateUser.cs
  WebUI/Pages/Identity/ListUsers/ListUserPage.cs
  WebUI/Pages/Seedings/Dialogs/DetailsPerformedWorkDialog.cs
  WebUI/Pages/Seedings/Dialogs/DetailsSubsidyDialog.cs
  WebUI/Pages/Seedings/Dialogs/DetailsTreatmentDialog.cs
  WebUI/Pages/Seedings/ListPerformedWork.cs
  WebUI/Pages/Seedings/ListSubsidy.cs
  WebUI/Pages/Seedings/ListTreatment.cs
  WebUI/Pages/Seedings/SeedingSummary.cs
  WebUI/Pages/Tenants/CreateAdminDialog.cs
  WebUI/Pages/Tenants/CreateTenantDialog.cs
  WebUI/Pages/Tenants/ListTenantWithUserPage.cs
  WebUI/Pages/WorkingSeasons/WorkingSeasonDialog.cs
  WebUI/Pages/WorkingSeasons/WorkingSeasonsPage.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update readme (#19)
  README.md
Due: azure-pipelines-be.yml

UI: List Treatment change table headers names
  WebUI/Pages/Seedings/ListTreatment.cs
Due: azure-pipelines-fe.yml

UI: List Treatment change table headers names (#20)
  WebUI/Pages/Seedings/ListTreatment.cs
Due: azure-pipelines-fe.yml

Fix GetSeedingSummary and list treatment queries
  Application/Services/Seedings/SeedingService.cs
  Application/Services/Treatments/ТreatmentService.cs
Due: azure-pipelines-be.yml

Fix GetSeedingSummary and list treatment queries (#21)
  Application/Services/Seedings/SeedingService.cs
  Application/Services/Treatments/ТreatmentService.cs
Due: azure-pipelines-be.yml

Delete Logo.jpg
  Logo.jpg
Due: azure-pipelines-be.yml

Pending
  Application/Application.csproj
  Application/ApplicationConfigration.cs
  Application/Behaviours/RequestValidationBehavior.cs
  Application/Features/ArableLands/Commands/Create/CreateArableLandCommandValidator.cs
  Application/Features/ArableLands/Commands/Edit/EditArableLandCommandValidator.cs
  Application/Features/Articles/Commands/Create/CreateArticleCommandValidator.cs
  Application/Features/Articles/Commands/Edit/EditArticleCommandValidator.cs
  Application/Features/PerformedWorks/Commands/CommonPerformedWorkInputCommandModel.cs
  Application/Features/PerformedWorks/Commands/Create/CreatePerformedWorkCommandValidator.cs
  Application/Features/PerformedWorks/Commands/Edit/EditPerformedWorkCommandValidator.cs
  Application/Features/Seedings/Commands/Create/CreateSeedingCommandValidator.cs
  Application/Features/Seedings/Commands/Edit/EditArableLandBalanceCommandValidator.cs
  Application/Features/Seedings/Commands/Edit/EditArableLandBalanceInputCommandModel.cs
  Application/Features/Subsidies/Commands/Create/CreateSubsidyCommandValidator.cs
  Application/Features/Subsidies/Commands/Edit/EditSubsidyCommandValidator.cs
  Application/Features/Tenants/Commands/Create/CreateTenantCommandValidator.cs
  Application/Features/Treatments/Commands/Create/CreateTreatmentCommandValidator.cs
  Application/Features/Treatments/Commands/Edit/EditTreatmentCommandValidator.cs
  Application/Features/WorkingSeasons/Commands/Create/CreateWorkingSeasonCommandValidator.cs
  Application/Features/WorkingSeasons/Commands/Edit/EditWorkingSeasonCommandValidator.cs
  WebApi/Program.cs
  WebApi/WebApi.csproj
  WebUI/Pages/Tenants/CreateAdminDialog.razor
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Small fix
  WebApi/Program.cs
  WebApi/WebApi.csproj
  WebApi/appsettings.json
Due: azure-pipelines-be.yml

Add development app settings
  WebUI/wwwroot/appsettings.Development.json
  WebUI/wwwroot/appsettings.json
Due: azure-pipelines-fe.yml

Add fluent validation
  Application/Behaviours/RequestValidationBehavior.cs
  Application/Features/ArableLands/Commands/Create/CreateArableLandCommand.cs
  Application/Features/ArableLands/Commands/Create/CreateArableLandCommandValidator.cs
  Application/Features/ArableLands/Commands/Edit/EditArableLandCommand.cs
  Application/Features/ArableLands/Commands/Edit/EditArableLandCommandValidator.cs
  Application/Features/Articles/Commands/Create/CreateArticleCommand.cs
  Application/Features/Articles/Commands/Create/CreateArticleCommandValidator.cs
  Application/Features/Articles/Commands/Edit/EditArticleCommand.cs
  Application/Features/Articles/Commands/Edit/EditArticleCommandValidator.cs
  Application/Features/Identity/Commands/ChangePassword/ChangePasswordCommandValidator.cs
  Application/Features/Identity/Commands/CreateAdmin/CreateAdminCommandValidator.cs
  Application/Features/Identity/Commands/CreatePassword/CreateUserPasswordCommandValidator.cs
  Application/Features/Identity/Commands/CreateUser/CreateUserCommandValidator.cs
  Application/Features/Identity/Commands/ForgotPassword/ForgotUserPasswordCommandValidator.cs
  Application/Features/Identity/Commands/Login/LoginCommandValidator.cs
  Application/Features/Identity/Commands/Login/LoginInputCommandModel.cs
  Application/Features/Identity/Commands/ResetPassword/ResetPasswordCommandValidator.cs
  Application/Features/PerformedWorks/Commands/Create/CreatePerformedWorkCommand.cs
  Application/Features/PerformedWorks/Commands/Create/CreatePerformedWorkCommandValidator.cs
  Application/Features/Seedings/Commands/Create/CreateSeedingCommand.cs
  Application/Features/Seedings/Commands/Create/CreateSeedingCommandValidator.cs
  Application/Features/Seedings/Commands/Edit/EditArableLandBalanceCommandValidator.cs
  Application/Features/Subsidies/Commands/Create/CreateSubsidyCommand.cs
  Application/Features/Subsidies/Commands/Create/CreateSubsidyCommandValidator.cs
  Application/Features/Tenants/Commands/Create/CreateTenantCommandValidator.cs
  Application/Features/Treatments/Commands/Create/CreateTreatmentCommand.cs
  Application/Features/Treatments/Commands/Create/CreateTreatmentCommandValidator.cs
  Application/Features/Treatments/Commands/Edit/EditTreatmentCommand.cs
  Application/Features/Treatments/Commands/Edit/EditTreatmentCommandValidator.cs
  Application/Features/WorkingSeasons/Commands/Create/CreateWorkingSeasonCommandValidator.cs
  WebApi/appsettings.json
  WebUI/Pages/Identity/User/ForgotPasswordPage.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Azure Pipeline add development env (#23)
  WebUI/wwwroot/appsettings.Development.json
  WebUI/wwwroot/appsettings.json
  azure-pipelines-fe.yml
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Fix validations and add mysql database provider
  Application/Behaviours/RequestValidationBehavior.cs
  Application/Features/Identity/Commands/ChangePassword/ChangePasswordCommandValidator.cs
  Application/Features/Identity/Commands/CreateAdmin/CreateAdminCommandValidator.cs
  Application/Features/Identity/Commands/CreatePassword/CreateUserPasswordCommandValidator.cs
  Application/Features/Identity/Commands/CreateUser/CreateUserCommandValidator.cs
  Application/Features/Identity/Commands/ForgotPassword/ForgotUserPasswordCommandValidator.cs
  Application/Features/Identity/Commands/Login/LoginCommandValidator.cs
  Application/Features/Identity/Commands/ResetPassword/ResetPasswordCommandValidator.cs
  Application/Models/Result.cs
  Infrastructure/Common/ConnectionStrings.cs
  Infrastructure/Identity/IdentityService.cs
  Infrastructure/Infrastructure.csproj
  Infrastructure/InfrastructureConfiguration.cs
  Infrastructure/InfrastructureSettings.cs
  Infrastructure/Persistence/Migrations/MySql/20230220205119_InitialMySqlMigration.Designer.cs
  Infrastructure/Persistence/Migrations/MySql/20230220205119_InitialMySqlMigration.cs
  Infrastructure/Persistence/Migrations/MySql/MySqlFarmerDbContextModelSnapshot.cs
  Infrastructure/Persistence/MySqlFarmerDbContext.cs
  WebApi/appsettings.json
Due: azure-pipelines-be.yml

test
  Infrastructure/InfrastructureConfiguration.cs
Due: azure-pipelines-be.yml

Fix fluent validation
  Application/Features/Identity/Commands/CreateAdmin/CreateAdminCommandValidator.cs
  Application/Features/Identity/Commands/CreateUser/CreateUserCommandValidator.cs
  WebUI/Pages/Identity/ListUsers/CreateUser.razor
  WebUI/Pages/Tenants/CreateAdminDialog.razor
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Fix validations and add MySql db provider (#25)
  Application/Behaviours/RequestValidationBehavior.cs
  Application/Features/Identity/Commands/ChangePassword/ChangePasswordCommandValidator.cs
  Application/Features/Identity/Commands/CreateAdmin/CreateAdminCommandValidator.cs
  Application/Features/Identity/Commands/CreatePassword/CreateUserPasswordCommandValidator.cs
  Application/Features/Identity/Commands/CreateUser/CreateUserCommandValidator.cs
  Application/Features/Identity/Commands/ForgotPassword/ForgotUserPasswordCommandValidator.cs
  Application/Features/Identity/Commands/Login/LoginCommandValidator.cs
  Application/Features/Identity/Commands/ResetPassword/ResetPasswordCommandValidator.cs
  Application/Models/Result.cs
  Infrastructure/Common/ConnectionStrings.cs
  Infrastructure/Identity/IdentityService.cs
  Infrastructure/Infrastructure.csproj
  Infrastructure/InfrastructureConfiguration.cs
  Infrastructure/InfrastructureSettings.cs
  Infrastructure/Persistence/Migrations/MySql/20230220205119_InitialMySqlMigration.Designer.cs
  Infrastructure/Persistence/Migrations/MySql/20230220205119_InitialMySqlMigration.cs
  Infrastructure/Persistence/Migrations/MySql/MySqlFarmerDbContextModelSnapshot.cs
  Infrastructure/Persistence/MySqlFarmerDbContext.cs
  WebApi/appsettings.json
  WebUI/Pages/Identity/ListUsers/CreateUser.razor
  WebUI/Pages/Tenants/CreateAdminDialog.razor
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Pending
  Application/Services/IDropBoxService.cs
  Infrastructure/DatabaseProvider.cs
  Infrastructure/ExternalStorage/DropBoxService.cs
  Infrastructure/ExternalStorage/DropBoxSettings.cs
  Infrastructure/Infrastructure.csproj
  Infrastructure/InfrastructureConfiguration.cs
  Infrastructure/InfrastructureSettings.cs
  WebApi/Program.cs
  WebApi/appsettings.json
Due: azure-pipelines-be.yml

test
  Application/Services/IDropBoxService.cs
  Infrastructure/ExternalStorage/DropBoxService.cs
  Infrastructure/Infrastructure.csproj
  Infrastructure/InfrastructureConfiguration.cs
  Infrastructure/InfrastructureSettings.cs
  WebApi/appsettings.json
Due: azure-pipelines-be.yml

pending
  Application/Services/IDropBoxService.cs
  Infrastructure/Common/ConnectionStrings.cs
  Infrastructure/ExternalStorage/DropBoxService.cs
  Infrastructure/Infrastructure.csproj
  Infrastructure/InfrastructureConfiguration.cs
  Infrastructure/InfrastructureSettings.cs
  Infrastructure/Workers/SqlLiteBackupWorker.cs
  WebApi/Program.cs
  WebApi/Properties/launchSettings.json
  WebApi/appsettings.json
Due: azure-pipelines-be.yml

test
  Infrastructure/Workers/SqlLiteBackupWorker.cs
Due: azure-pipelines-be.yml

test 2
  Infrastructure/Workers/SqlLiteBackupWorker.cs
Due: azure-pipelines-be.yml

Add dockerfile for the API
  Application/Application.csproj
  Application/Extensions/HostEnvironmentExtensions.cs
  Dockerfile.be
  WebApi/Program.cs
  WebApi/Properties/launchSettings.json
  WebApi/appsettings.Development.json
  WebApi/appsettings.Local.json
  WebApi/appsettings.json
  WebUI/wwwroot/appsettings.Local.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml
